<html>
<head>
<title>Film Management</title>
<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="css/app.css" rel="stylesheet"></link>
</head>
<body ng-app="myApp" class="ng-cloak">
<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="home">Sakila</a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="CustomerManagement.html">Customer</a></li>
					<li><a href="ActorManagement.html">Actor</a></li>
					<li><a href="FilmManagement.html">Film</a></li>
					<li><a href="InventoryManagement.html">Inventory</a></li>
				</ul>
				<form th:action="@{/logout}" method="post" class="navbar-form navbar-right">
					<input type="submit" value="Sign Out" class="btn btn-default"/>
				</form>
			</div>
		</div>
	</nav>
	<div class="generic-container" ng-controller="FilmController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Film Management Form</span>
			</div>
			<div class="formcontainer">
				<form ng-submit="ctrl.submit()" name="myForm"
					class="form-horizontal">
					<input type="hidden" ng-model="ctrl.film.filmId" />
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable">Title</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.film.title"
									name="title" class="form-control input-sm"
									placeholder="Enter Film Title" required ng-minlength="3" />
								<div class="has-error" ng-show="myForm.$dirty">
									<span ng-show="myForm.lastName.$error.required">This is
										a required field</span> <span
										ng-show="myForm.lastName.$error.minlength">Minimum
										length required is 3</span>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable">Description</label>
							<div class="col-md-7">
								<input type="text" ng-model="ctrl.film.description"
									name="description" class="form-control input-sm"
									placeholder="Enter Film Description" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable">Language</label>
							<div class="col-md-7">
								<select name="languageId" ng-model="ctrl.film.language.languageId" required class="form-control">
									<option value="">Language</option>
									<option ng-repeat="l in ctrl.languages" value="{{l.languageId">{{l.name}}</option>
								</select><br />
							</div>
							<div class="has-error" ng-show="myForm.$dirty">
								<span ng-show="myForm.languageId.$error.required">This is a
									required field</span>
							</div>
						</div>
					</div>
					
					
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable">Rental duration</label>
							<div class="col-md-7">
								<input type="number" ng-model="ctrl.film.rentalDuration"
									name="rentalDuration" class="form-control input-sm" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-2 control-lable">Replace cost</label>
							<div class="col-md-7">
								<input type="number" ng-model="ctrl.film.replaCost"
									name="description" class="form-control input-sm" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="form-actions floatRight">
							<input type="submit"
								value="{{!ctrl.film.filmId ? 'Add' : 'Update'}}"
								class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
							<button type="button" ng-click="ctrl.reset()"
								class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset
								Form</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<span class="lead">List of Films</span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>Description</th>
							<th>Language</th>
							<th>Actors</th>
							<th>Categories</th>
							<th>Rental Duration</th>
							<th>Replace Cost</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="f in ctrl.films">
							<td><span ng-bind="f.filmId"></span></td>
							<td><span ng-bind="f.title"></span></td>
							<td><span ng-bind="f.description"></span></td>
							<td><span ng-bind="f.language.name"></span></td>
							<td><span ng-repeat="a in f.actors">{{ a.lastName }} {{ a.firstName }} </span></td>
							<td><span ng-repeat="c in f.categories">{{ c.name }} </span></td>
							<td><span ng-bind="f.rentalDuration"></span></td>
							<td><span ng-bind="f.replaCost"></span></td>
							<td>
								<button type="button" ng-click="ctrl.edit(f.filmId)"
									class="btn btn-success custom-width">Edit</button>
								<button type="button" ng-click="ctrl.remove(f.filmId)"
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/service/film_service.js"></script>
	<script src="js/service/actor_service.js"></script>
	<script src="js/service/language_service.js"></script>
	<script src="js/service/category_service.js"></script>
	<script src="js/controller/film_controller.js"></script>
</body>
</html>
