<html>
<head>
<title>Inventory Management</title>
<style>
.username.ng-valid {
	background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
	background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
	background-color: yellow;
}

.email.ng-valid {
	background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
	background-color: red;
}

.email.ng-dirty.ng-invalid-email {
	background-color: yellow;
}
</style>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="css/app.css" rel="stylesheet"></link>
</head>
<body ng-app="myApp" class="ng-cloak">
	<div class="generic-container"
		ng-controller="InventoryController as ctrl">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="lead">Inventory</span>
			</div>
			<div class="tablecontainer">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Film</th>
							<th>Description</th>
							<th>Quantity</th>
							<th width="20%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="f in ctrl.films">
							<td><span ng-bind="f.title"></span></td>
							<td><span ng-bind="f.description"></span></td>
							<td><span ng-bind="f.quantity"></span></td>
							<td>
								<button type="button" ng-click="ctrl.addInventory(f)"
									class="btn btn-success custom-width">Add</button>
								<button type="button" ng-click="ctrl.remove(f)"
									ng-disabled='f.quantity > 0 ? false : true'
									class="btn btn-danger custom-width">Remove</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/service/inventory_service.js"></script>
	<script src="js/service/film_service.js"></script>
	<script src="js/service/store_service.js"></script>
	<script src="js/controller/inventory_controller.js"></script>
</body>
</html>